#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.title {
  position: relative;
  bottom: 40px;
}

.read-the-docs {
  color: #888;
}

.LoginBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
h2 {
  display: flex;
  text-align: left;
  font-size: 20px;
  width: 300px;
  position: relative;
}
input {
  width: 300px;
  height: 30px;
}

.LoginButton {
  position: relative;
  top: 20px;
  width: 150px;
  height: 50px;
}