.menu {
    display: flex;
    background-color: white;
    width:100%;
    align-items: center;
    justify-content: center;
    height: 41px;
    position: fixed;
    top: 0;
    margin: auto;
    right: 0px;

}
  
.menuList li{
    display: inline;
    list-style: none;
}

.menuImage {
    position: relative;
    width: 40px;
    height: 40px;
}

a {
    position: absolute;
}

#user, #LinkUser {
    left: 700px;
    top: 0;
}

#home, #LinkHome{
    right: 700px;
    top: 0;
}

.Auth {
    position: relative;
    left: 600px;
    top: 1px;
    margin-right: 5px;
}

#signOut {
    position: relative;
    right: 600px;
}